<?xml version="1.0" encoding="UTF-8" ?>
<phpunit bootstrap="tests.php">
    <testsuites>
        <testsuite name="Example Test Suite">
            <directory>tests</directory>
            <!--<file>/path/to/MyTest.php</file>-->
            <!--<exclude>/path/to/exclude</exclude>-->
        </testsuite>
    </testsuites>
</phpunit>