<?xml version="1.0" encoding="UTF-8" ?>
<phpunit bootstrap="vendor/autoload.php">
    <testsuites>
        <testsuite name="GLFramework main test site">
            <directory>tests</directory>
            <!--<file>/path/to/MyTest.php</file>-->
            <!--<exclude>/path/to/exclude</exclude>-->
        </testsuite>
    </testsuites>
</phpunit>