{#
#
#
#}

<table class="table" xmlns="http://www.w3.org/1999/html">

    <thead>
    {% block thead %}{% endblock %}
    </thead>
    <tbody>
    {% block tbody %}{% endblock %}
    </tbody>
</table>
