<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            {% block title %}
                No title
            {% endblock %}
        </h3>
    </div>
    <div class="panel-body">
        {% block content %}
            No content
        {% endblock %}
    </div>
</div>