<div class="panel panel-{{ type | default("default") }}">
    <div class="panel-heading">
        <h3 class="panel-title">
            {% block title %}
                No title
            {% endblock %}
        </h3>
    </div>
    <div class="panel-body">
        {% block content %}
            No content
        {% endblock %}
    </div>
    {% set footer =  block('footer') %}
    {% if footer != "" %}
    <div class="panel-footer">
        {{ footer | raw }}
    </div>
    {% endif %}
</div>