{% extends "templates/mail.twig" %}
{% block body %}
    <h1>Hola!</h1>
    <p>Este es un email de prueba, que se ha enviado desde el instalador de {{ mainconfig.app.name }}.</p>
    <p>Que tenga un buen día.</p>
{% endblock %}