{% extends "templates/base.twig" %}
{% block title %}{% endblock %}
{% block body %}
Test successful!

    {{ this.variable }}

    <a title="url" href="{{ this.getLink('MyNameSpace\\home', {'id' : 100}) }}">URL Parametrized</a>
    <a href="{{ this.getLink('sub_home', {'id' : 100}) }}">Sub home</a>

{% endblock %}
{% block scripts %}{% endblock %}
{% block styles %}{% endblock %}
