{% block title %}{% endblock %}
{% block body %}
Test successful!

    {{ this.variable }}

    <a href="{{ this.getLink('MyNameSpace\\home', {'id' : 100}) }}">URL</a>

{% endblock %}
{% block scripts %}{% endblock %}
{% block styles %}{% endblock %}
