{% extends "templates/base.twig" %}

{#
 # Created by PhpStorm.
 # User: mmunoz
 # Date: 15/06/17
 # Time: 15:23
 #
 #}
{% block title %}Añadir módulo{% endblock %}
{% block body %}
    <a href="/admin/modules" class="btn btn-default"><i class="fa fa-chevron-left"></i> Volver</a>
    <div class="row">
        <div class="col-lg-6">
            {% embed "templates/box.twig" %}
                {% block title %}
                    <i class="glyphicon glyphicon-file"></i> Añadir desde ZIP
                {% endblock %}
                {% block content %}
                    <form enctype="multipart/form-data" method="post">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Seleccionar archivo ZIP</label>
                            <input type="file" name="zip" class="form-control">
                        </div>
                        <button type="submit" class="btn btn-default" name="add">Subir</button>
                    </form>
                {% endblock %}
            {% endembed %}
        </div>
        <div class="col-lg-6">
            {% embed "templates/box.twig" %}
                {% block title %}
                    Ajustes
                {% endblock %}
                {% block content %}

                {% endblock %}
            {% endembed %}
        </div>
    </div>
{% endblock %}
{% block scripts %}{% endblock %}
{% block styles %}{% endblock %}
