{% extends "templates/base.twig" %}
{#
 # Created by PhpStorm.
 # User: manus
 # Date: 25/02/16
 # Time: 11:00
 #}
{% block title %}Administracion - Usuarios{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-lg-6">
            {% embed "templates/box.twig" %}
                {% block title %}
                    Información básica
                {% endblock %}
                {% block content %}
                    <table class="table">
                        <tr>
                            <th>Titulo</th>
                            <td>{{ this.module.title }}</td>
                        </tr>
                        <tr>
                            <th>Descripcion</th>
                            <td>{{ this.module.description }}</td>
                        </tr>
                        <tr>
                            <th>Version</th>
                            <td><label class="label label-success">{{ this.module.version | default("-") }}</label></td>
                        </tr>
                        <tr>
                            <th>Ruta</th>
                            <td><code>{{ this.module.getDirectory() }}</code></td>
                        </tr>
                    </table>
                {% endblock %}
            {% endembed %}
        </div>
    </div>
{% endblock %}
{% block scripts %}{% endblock %}
{% block styles %}{% endblock %}
