{% set simple = "true" %}
{% extends "templates/base.twig" %}

{% block title %}Acceder al servicio{% endblock %}
{% block body %}
    <div class="center-block" align="center">
        <img src="{{ mainconfig.app.banner }}" width="400" height="83"></div>
    <form class="form-signin" name="form1" method="post" action="login">

        {% if this.result.error %}
        <div class="alert alert-danger">
            Error al iniciar la sesi칩n. Usuario/contrase침a incorrecta.
        </div>
        {% endif %}
        <h3 class="form-signin-heading">Iniciar Sesion</h3>
        <input name="username" id="myusername" type="text" class="form-control" placeholder="Usuario" autofocus>
        <input name="password" id="mypassword" type="password" class="form-control" placeholder="Contrase침a">

        <p><a href="{{ this.getLink("GLFramework\\Modules\\Login\\recovery") }}">No recuerdo la cuenta</a></p>
        {#<div class="pull-right"><a href="#">Recuperar contrase침a</a></div>#}


        <!-- The checkbox remember me is not implemented yet...
        <label class="checkbox">
          <input type="checkbox" value="remember-me"> Remember me
        </label>
        -->
        <button name="login" id="submit" class="btn btn-lg btn-primary btn-block" type="submit">Entrar</button>

        <div id="message"></div>
    </form>
{% endblock %}
{% block scripts %}{% endblock %}
{% block styles %}
<style>
    body {
        padding-top: 40px;
        padding-bottom: 40px;
        background-color: #fff;
    }

    .form-signin {
        max-width: 330px;
        padding: 15px;
        margin: 0 auto;
    }
    .form-signin .form-signin-heading,
    .form-signin .checkbox {
        margin-bottom: 10px;
    }
    .form-signin .checkbox {
        font-weight: normal;
    }
    .form-signin .form-control {
        position: relative;
        font-size: 16px;
        height: auto;
        padding: 10px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    .form-signin .form-control:focus {
        z-index: 2;
    }
    .form-signin input[type="text"] {
        margin-bottom: -1px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
    .form-signin input[type="password"] {
        margin-bottom: 10px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
    .form-signin .btn {
        margin-bottom: 10px;
    }
</style>
{% endblock %}
