{% embed "templates/box.twig" %}
    {% block title %}
        Translations Found
    {% endblock %}
    {% block content %}
        <a href="?scan">Scan translations</a>
    {% endblock %}

{% endembed %}