{% embed "templates/box.twig" %}
    {% block title %}
        Vars table
    {% endblock %}
    {% block content %}
        <form method="post">

        <table class="table">
            <tr>
                <th>Key</th>
                <th>Value</th>
                <th></th>
            </tr>
            {% for key,value in this.vars.getArray() %}
                <tr>
                    <td>{{ key }}</td>
                    <td><input type="text" class="form-control" name="vars[{{ key }}]" value="{{ value }}"></td>
                    <td><button type="submit" name="save" value="{{ key }}" class="btn btn-default"><i class="fa fa-save"></i></button></td>
                </tr>
            {% endfor %}
        </table>
        </form>

    {% endblock %}

{% endembed %}